<!DOCTYPE html>
<html xmlns:th="http://www.springframework.org/schema/data/jaxb">
<div th:replace="layout :: head"></div>
    <body>
        <div th:replace="layout :: header"></div>
        <section class="checkout">
            <h1><span>Checkout&nbsp;&nbsp;>&nbsp;&nbsp;</span>Verify Items</h1>
            <div th:each="productPurchase,iterStat : ${purchase.productPurchases}" class="cart-item">
	            <div class="item">
	                <a th:href="@{/detail/{productId}(productId=${productPurchase.product.id})}"><img class="img-thumb" th:src="@{/product/{productId}/image(productId=${productPurchase.product.id})}"/></a>
	                <h2><a th:href="@{/detail/{productId}(productId=${productPurchase.product.id})}" th:text="${productPurchase.product.name}">Product Title</a></h2>
	                <span class="price" th:text="${'$' + #numbers.formatDecimal(productPurchase.product.price, 1, 2, 'COMMA')}">$199.00</span>
	                <span th:inline="text" class="item-quantity">Quantity: [[${productPurchase.quantity}]]</span>
	            </div>
            </div>
            <div class="coupon-code">
                <form id="couponForm" action="#" th:action="@{/checkout/coupon}" th:object="${couponCode}" method="post">


                    <div class="row">
                        <div class="coupon-code" th:classappend="${#fields.hasErrors('code')}? 'error' : ''">
                            <input type="text" th:field="*{code}" placeholder="Enter coupon code"/>

                                <p class="error-message" th:if="${#fields.hasErrors('code')}" th:errors="*{code}"></p>

                        </div>
                    </div>


                </form>
            </div>
            <div class="subtotal">
                Subtotal: <strong><span th:text="${'$' + #numbers.formatDecimal(subTotal, 1, 2, 'COMMA')}">$199.00</span></strong>
            </div>
            <div class="checkout-footer">
                <form>
                    <a class="button button-secondary icon-left" href="/cart"><i class="material-icons">chevron_left</i>Back to Cart</a>
     				<a class="button" href="javascript:;" onclick="document.getElementById('couponForm').submit();">Continue</a>
                </form>
            </div>
        </section>

        <div th:replace="layout :: flash"></div>

    </body>
</html>
