<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:replace="layout :: head"></div>
<body>
<div th:replace="layout :: header"></div>
        <section class="product-listing">  
        	<div th:each="product,iterStat : ${products}" class="item">
                <a th:href="@{/product/detail/{productId}(productId=${product.id})}"><img th:src="@{/product/{productId}/image(productId=${product.id})}"/></a>
                <h2><a th:href="@{/product/detail/{productId}(productId=${product.id})}"><span th:text="${product.name}">Product Title</span></a></h2>
                <span class="price" th:text="${'$' + #numbers.formatDecimal(product.price, 1, 2, 'POINT')}">$199.00</span>
                <form class="cart-add" th:id="@{/cartAdd{productId}(productId=${product.id})}" action="#" th:action="@{/cart/add}" method="post">
	                    <input type="hidden" class="quantity" name="quantity" value="1"/>
	                    <input type="hidden" name="productId" th:value="${product.id}"/>
	                    <a class="button button-small" href="javascript:;" onclick="parentNode.submit();">Add to Cart</a>
	            </form>
            </div>
        </section>
        <div class="pagination">
			<div th:if="${products.getTotalPages() != 1}" class="form-group col-md-11 pagination-centered">
				<ul class="pagination-ul">
					<li><a th:class="${products.getNumber() == 0} ? 'inactive'" th:href="@{/product/?page=1}"><i class="material-icons">first_page</i></a></li>
					<li><a th:class="${products.getNumber() == 0} ? 'inactive'" th:href="@{/product/?page=} + ${products.getNumber()}"><i class="material-icons">chevron_left</i></a></li>
					<span th:text="|Page ${products.getNumber() + 1} of ${products.getTotalPages()}|">Page 1 of 6</span>
					<li><a th:class="${products.getNumber() + 1 == products.getTotalPages()} ? 'inactive'" th:href="@{/product/?page=} + ${products.getNumber() + 2}"><i class="material-icons">chevron_right</i></a></li>
					<li><a th:class="${products.getNumber() + 1 == products.getTotalPages()} ? 'inactive'" th:href="@{/product/?page=} + ${products.getTotalPages()}"><i class="material-icons">last_page</i></a></li>
				</ul>
			</div>
		</div>

        <div th:replace="layout :: flash"></div>

    </body>
</html>
